@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap');
@import './components.css';
@import './utilities.css';

:root {
  --purple-900: #1a131e;
  --purple-700: #261d2c;
  --purple-500: #2f2634;
  --purple-400: #3d3243;
  --purple-300: #463c4b;
  --grey-700: #ebd7b4;
  --grey-500: #f5e8d2;
  --grey-300: #f7f1e7;
  --grey-100: #fcf5e8;
  --aqua-100: #d8f7ec;
  --aqua-300: #bdf1de;
  --aqua-500: #9dedcf;
  --aqua-700: #65b598;
  --aqua-800: #4a9076;
  --aqua-900: #156065;
  --orange-500: #db8120;
  --red-700: #af3030;
  --red-500: #ca3e3e;
  --red-300: #eb5a5a;

  --fontBody: 'Roboto Mono', monospace;
  --fontHeader: 'Space Mono', monospace;

  --text-4xl: 5.653rem;
  --text-3xl: 3.998rem;
  --text-2xl: 2.827rem;
  --text-xl: 1.999rem;
  --text-lg: 1.414rem;
  --text-base: 1rem;
  --text-sm: 0.707rem;

  --size-px: 1px;
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-14: 56px;
  --size-16: 64px;

  /* BORDER RADIUS */
  --rounded-none: 0;
  --rounded-sm: 3px;
  --rounded-md: 8px;
  --rounded-lg: 25px;
}

/* COLORS AND THEMES */
.dark {
  --bgColor: var(--purple-900);
  --inputBg: var(--purple-700);
  --inputBorder: var(--grey-500);
  --buttonBg: var(--purple-500);
  --fontColor: var(--grey-500);
  --linkColor: var(--aqua-500);
  --linkHighlight: var(--aqua-100);
  --cardBg: var(--purple-500);

  --colorDanger: var(--red-300);
  --borderDanger: var(--colorDanger);
}

.light {
  --bgColor: var(--grey-500);
  --inputBg: var(--grey-300);
  --inputBorder: var(--purple-500);
  --buttonBg: var(--grey-300);
  --fontColor: var(--purple-700);
  --linkColor: var(--aqua-900);
  --linkHighlight: var(--aqua-700);
  --cardBg: var(--grey-100);

  --colorDanger: var(--red-700);
  --borderDanger: var(--colorDanger);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--fontBody);
  background-color: var(--bgColor);
  color: var(--fontColor);
  padding-bottom: 200px;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--fontColor);
}

/* TEXT */
html {
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: var(--fontHeader);
}

h1, .text-4xl { font-size: var(--text-4xl); }
h2, .text-3xl { font-size: var(--text-3xl); }
h3, .text-2xl { font-size: var(--text-2xl); }
h4, .text-xl { font-size: var(--text-xl); }
h5, .text-lg { font-size: var(--text-lg); }
.text-base { font-size: var(--text-base); }
small, .text-sm { font-size: var(--text-sm); }

p {
  margin-bottom: var(--size-4);
}

a {
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHighlight);
}

.text-danger {
  color: var(--colorDanger);
}

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--size-3);
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--size-3);
}

/* FORMS */
input, select, textarea {
  border: 2px solid var(--inputBorder);
  border-radius: var(--rounded-sm);
  background-color: var(--inputBg);
  width: 100%;
}

input[type="checkbox"] {
  border: 2px solid var(--inputBorder);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--inputBg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  margin-right: var(--size-2);
}

input[type="checkbox"]:checked {
  background-color: var(--aqua-500);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--size-3);
}

.checkbox-group {
  padding-bottom: var(--size-3);
  display: flex;
  align-items: flex-end;
}

.border-danger {
  border-color: var(--borderDanger);
}

/* BUTTONS */
button {
  background-color: var(--buttonBg);
  border: 2px solid var(--inputBorder);
  border-radius: var(--rounded-sm);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--fontColor);
  color: var(--bgColor);
}

/* This is not accessible if the button has no text - use with discretion. */
.btn-icon {
  display: flex;
  align-items: center;
  border: none;
}

.btn-row {
  display: flex;
  gap: var(--size-2);
}

/* ICONS */
svg {
  height: var(--size-5);
  width: var(--size-5);
}
