@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --black: #1a131e;
  --white: #f5e8d2;

  --fontBody: 'Roboto Mono', monospace;
  --fontHeader: 'Space Mono', monospace;

  --text-4xl: 5.653rem;
  --text-3xl: 3.998rem;
  --text-2xl: 2.827rem;
  --text-xl: 1.999rem;
  --text-lg: 1.414rem;
  --text-base: 1rem;
  --text-sm: 0.707rem;
}

/* COLORS AND THEMES */
.dark {
  background-color: var(--black);
  color: var(--white);
}

.light {
  background-color: var(--white);
  color: var(--black);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--fontBody);
}

input,
button,
textarea,
select {
  font: inherit;
}

/* TEXT */
html {
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: var(--fontHeader);
}

h1, .text-4xl { font-size: var(--text-4xl); }
h2, .text-3xl { font-size: var(--text-3xl); }
h3, .text-2xl { font-size: var(--text-2xl); }
h4, .text-xl { font-size: var(--text-xl); }
h5, .text-lg { font-size: var(--text-lg); }
.text-base { font-size: var(--text-base); }
small, .text-sm { font-size: var(--text-sm); }

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
