.card {
  background-color: var(--cardBg);
  padding: var(--size-5);
  border-radius: var(--rounded-md);
}

.alert {
  background-color: var(--infoBg);
  padding: var(--size-3) var(--size-5);
  border-radius: var(--rounded-md);
}

.center-container-xs {
  width: 400px;
  margin: 0 auto;
}

.center-container-sm {
  width: 600px;
  margin: 0 auto;
}

.show-page-header {
  display: flex;
  align-items: baseline;
  gap: var(--size-2);
}

.nonresponsive-icon {
  height: var(--size-6);
  width: var(--size-6);
}
