/*
  Intended to be an index of people, interests, groups, etc
  with links to each resource so that users can navigate to
  them.  Should be used on <ul> elements.
*/

.resource-list {
  margin-top: 0;
  padding-left: 0;
  background-color: var(--cardBg);
  border-radius: var(--rounded-sm);
}

.resource-list li {
  list-style-type: none;
  padding: var(--size-2);
  border-bottom: 1px solid var(--textColor);
}

.resource-list li:last-of-type {
  border-bottom: none;
}
